main{
    
}

.level-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    padding: 80px;
    margin-top: 80px;
}

h1{
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    color: #FFEA00;
}

.level-list{
    display: flex;
    gap: 50px;
    width: 1500px;
    align-items: center;
}

.level-1 button a{
    display: flex;
    background-color: #0254A0;
    color: #fffb00;
    padding: 20px 60px;
    border-radius: 60px;
    cursor: pointer;
    font-size: var(--font-size-play);
    font-weight: var(--font-weight-play);
    box-shadow: 2px 2px 10px #000000;
}

.level-colum{
    display: flex;
    gap: 30px;
}