* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background: none;
    text-decoration: none;
}

body {
    background-color: rgb(5, 13, 29);
    font-family: "Raleway", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(2, 84, 160);
    box-shadow: 0px 2px 10px #000000;
    height: 70px;
    padding: 0 40px;
    position: relative;
}

header img {
    margin-left: 40px;
    width: 70px;
}

.menu-hamburger {
    width: 40px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu-hamburger span {
    height: 5px;
    width: 100%;
    background: rgb(255, 234, 44);
    border-radius: 5px;
    transition: 0.3s;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -260px;
    width: 260px;
    height: 100vh;
    gap: 50px;
    background: #03135ade;
    padding-top: 100px;
    transition: left 0.4s ease;
}

.sidebar a {
    background-color: rgb(3, 2, 78);
    display: flex;
    width: 250px;
    color: #FFEA00;
    border-radius: 10px;
    text-decoration: none;
    padding: 18px 30px;
    font-size: var(--font-size-button-menu);
    font-weight: var(--font-weight-button-menu);
    font-family: "Raleway", sans-serif;
    transition: 0.2s;
}

.sidebar a:hover {
    background: #0D3DDD;
    padding-left: 50px;
}

#menu-toggle:checked~.sidebar {
    left: 0;
}

#menu-toggle:checked+.menu-hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}

#menu-toggle:checked+.menu-hamburger span:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked+.menu-hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -10px);
}

#menu-toggle {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

:root {
    --font-size-play: 40px;
    --font-weight-play: 900;
    --font-size-button-menu: 26px;
    --font-weight-button-menu: 600;
}