*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background: none;
    text-decoration: none;
}

body{
    background-color: rgb(223, 233, 250);
    font-family: "Raleway", sans-serif;
}

:root{
    --font-size-play: 40px; 
}