*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    background: none;
    text-decoration: none;
}

body{
    background-color: rgb(5, 13, 29);
    font-family: "Raleway", sans-serif;
}

:root{
    --font-size-play: 40px; 
    --font-weight-play: 900;
    --font-size-button-menu: 26px;
    --font-weight-button-menu: 600;
}