main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 200px;
}

.button-play{
    display: flex;
    padding-top: 60px;
    transition: 0.3s;
}

.button-play :hover{
    transform: scale(1.2);
    transition: 0.3s;
}

.button-play button{
    background-color: #042aa8;
    box-shadow: 2px 2px 10px #000000;
    padding: 30px 80px;
    border-radius: 60px;
    cursor: pointer;
}

.button-play button a{
    font-size: var(--font-size-play);
    font-weight: var(--font-weight-play);
    color: #fffb00;
}