<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/global.css">
    <link rel="stylesheet" href="../static/css/level.css">
    <title>Level</title>
</head>

<body>

    <header>
        <img src="../static/img/184c22ac-4bc6-4e89-af67-6ff68afe17e1-convertido-de-png.png">
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="menu-hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <nav class="sidebar">
            <a href="/">Home</a>
            <a href="#">Leves</a>
            <a href="#">About</a>
    </header>

    <main>
        <div class="level-container">
            <h1>Levels</h1>
            <div class="level-list">
                <div class="level-colum">
                    <div class="level-1">
                        <button><a href="/level1">Level 1</a></button>
                    </div>
                    <div class="level-1">
                        <button><a href="/level2">Level 2</a></button>
                    </div>
                    <div class="level-1">
                        <button><a href="/level3">Level 3</a></button>
                    </div>
                    <div class="level-1">
                        <button><a href="">Level 4</a></button>
                    </div>
                    <div class="level-1">
                        <button><a href="">Level 5</a></button>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>